//COLORS
$color-main: #fb414e;
$color-second: #202b30;
$color-light: #f8f8f8;
//DISPLAY

//BUTTONS
$slide-active: __slider--active;
$slide: __slider;
$banner: __banner;
$footer: __footer;
$form: __form;
//FEATURES
$features-w-h: 355.5px;
$features-desktop: 300px;
$features-smallDesktop: 504px;
$features-largeMobile: 400px;
$features-mobile: 350px;
$features-active: __block--active;
$features: __block;
//SERVICES
$services-w-h: 255.5px;
//
$large-desktop: 1400px;
$desktop: 1200px;
$small-desktop: 960px;
$large-tablet: 769px;
$tablet: 640px;
$large-mobile: 425px;
$mobile: 380px;
$mobile-landscape: 480px;
